openapi: '3.0.3'
info:
  title: Cold Navigator API
  version: '2026-03-01'
  description: |
    Cold Navigator API provides programmatic access to lead management, campaign control,
    LinkedIn automation, conversations, analytics, webhook management, and API key management.

    ## Authentication
    All API requests require an API key passed via the `x-api-key` header.
    Create API keys from your workspace settings at [app.coldnavigator.com/settings](https://app.coldnavigator.com/settings).

    ## Rate Limits
    Rate limits depend on your subscription plan:
    | Plan | Per Minute | Per Day |
    |------|-----------|---------|
    | Free Trial | 30 | 1,000 |
    | Single | 60 | 5,000 |
    | Team | 120 | 20,000 |
    | Growth | 300 | 100,000 |

    > **Note:** Free plan users do not have API access. Upgrade to use the API.

    Rate limit headers are included in every response:
    - `X-RateLimit-Limit` — Maximum requests allowed
    - `X-RateLimit-Remaining` — Remaining requests in window
    - `X-RateLimit-Reset` — Unix timestamp when the window resets

    ## Base URL
    - Production: `https://app.coldnavigator.com/api/v1`
    - Development: `https://dev.coldnavigator.com/api/v1`

servers:
  - url: https://app.coldnavigator.com/api/v1
    description: Production
  - url: https://dev.coldnavigator.com/api/v1
    description: Development

security:
  - apiKey: []

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key created from Settings > API Keys

  schemas:
    Lead:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: f7e6d5c4-b3a2-1098-7654-321fedcba098
        first_name:
          type: string
          example: Jane
        last_name:
          type: string
          example: Smith
        linkedin_url:
          type: string
          format: uri
          example: https://www.linkedin.com/in/janesmith
        email:
          type: string
          format: email
          example: jane.smith@acme.com
          nullable: true
        company:
          type: string
          example: Acme Corp
          nullable: true
        position:
          type: string
          description: Job title or position at the company
          example: VP of Sales
          nullable: true
        location:
          type: string
          example: San Francisco, CA
          nullable: true
        phone:
          type: string
          example: '+1 555-0123'
          nullable: true
        status:
          type: string
          description: Current pipeline status of the lead
          enum: [new, contacted, engaged, qualified, converted, unqualified, lost, replied, connected, do_not_contact]
          example: new
        custom_fields:
          type: object
          description: Arbitrary key-value pairs for custom data
          example: { industry: "SaaS", employee_count: "500-1000" }
          nullable: true
        created_at:
          type: string
          format: date-time
          example: '2026-03-06T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-03-06T10:30:00Z'

    Campaign:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: c9d8e7f6-5432-1abc-def0-987654321abc
        name:
          type: string
          example: Q1 Enterprise Outreach
        description:
          type: string
          nullable: true
          example: Outreach campaign targeting enterprise decision makers
        status:
          type: string
          description: Current campaign lifecycle status
          enum: [draft, active, paused, completed, archived]
          example: active
        start_date:
          type: string
          format: date-time
          nullable: true
        end_date:
          type: string
          format: date-time
          nullable: true
        timezone:
          type: string
          nullable: true
          example: Europe/Istanbul
        created_at:
          type: string
          format: date-time
          example: '2026-02-15T09:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-02-15T09:00:00Z'

    CampaignDetail:
      description: Campaign with performance stats (returned by GET /campaigns/{id})
      allOf:
        - $ref: '#/components/schemas/Campaign'
        - type: object
          properties:
            stats:
              type: object
              description: Campaign performance metrics (read-only)
              properties:
                total_leads:
                  type: integer
                  description: Total leads enrolled in campaign
                  example: 250
                connections_sent:
                  type: integer
                  example: 200
                connections_accepted:
                  type: integer
                  example: 67
                messages_sent:
                  type: integer
                  example: 120
                replies_received:
                  type: integer
                  example: 38
                acceptance_rate:
                  type: number
                  description: Percentage of connection requests accepted (0-100)
                  example: 33.5
                reply_rate:
                  type: number
                  description: Percentage of messages that got replies (0-100)
                  example: 31.7

    LinkedInAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: d5e6f7a8-b9c0-1234-5678-9abcdef01234
        full_name:
          type: string
          example: John Sales
        linkedin_url:
          type: string
          example: https://www.linkedin.com/in/johnsales
        status:
          type: string
          description: Current connection status of the LinkedIn account
          enum: [connected, disconnected, rate_limited, warming_up]
          example: connected
        health_score:
          type: integer
          description: Account health score (0-100). Higher is better.
          example: 95
          minimum: 0
          maximum: 100
        is_rate_limited:
          type: boolean
          description: Whether LinkedIn has rate-limited this account
          example: false
        daily_connection_limit:
          type: integer
          description: Maximum connection requests allowed per day
          example: 25
        daily_message_limit:
          type: integer
          description: Maximum messages allowed per day
          example: 50
        connections_sent_today:
          type: integer
          example: 8
        messages_sent_today:
          type: integer
          example: 15
        last_activity_at:
          type: string
          format: date-time
          example: '2026-03-06T14:23:00Z'
          nullable: true

    AsyncJob:
      type: object
      description: Represents an async LinkedIn action queued for processing
      properties:
        job_id:
          type: string
          description: BullMQ job ID for tracking
          example: 'linkedin-action:f7e6d5c4-b3a2-1098'
        status:
          type: string
          description: Current job processing status
          enum: [queued, active, completed, failed]
          example: queued
        result:
          type: object
          nullable: true
          description: Action result (only present when status is completed)
          example: null
        error:
          type: string
          nullable: true
          description: Error message (only present when status is failed)
          example: null
        created_at:
          type: string
          format: date-time
          example: '2026-03-06T10:30:00Z'
        completed_at:
          type: string
          format: date-time
          nullable: true
          example: null

    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        workspace_id:
          type: string
          format: uuid
          example: d005754a-942a-4eb8-9253-7cc89b548f6f
        name:
          type: string
          example: CRM Sync
        url:
          type: string
          format: uri
          example: https://your-app.com/webhooks/cold-navigator
        event_types:
          type: array
          description: Which events trigger this webhook. Must contain at least one valid event type.
          items:
            type: string
            enum:
              - lead.created
              - lead.updated
              - lead.status_changed
              - lead.replied
              - lead.connected
              - campaign.started
              - campaign.completed
              - campaign.paused
              - campaign.error
              - message.sent
              - message.received
              - connection.sent
              - connection.accepted
              - workflow.step_completed
              - workflow.lead_finished
              - account.disconnected
              - account.rate_limited
          example: ["lead.replied", "lead.connected", "campaign.completed"]
        is_active:
          type: boolean
          description: Whether the webhook is currently receiving events
          example: true
        description:
          type: string
          nullable: true
          example: Syncs lead replies to our CRM
        headers:
          type: object
          nullable: true
          description: Custom HTTP headers to include in every delivery
          example: { "X-Custom-Header": "my-value" }
        last_triggered_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-06T14:23:00Z'
        last_success_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-06T14:23:00Z'
        last_failure_at:
          type: string
          format: date-time
          nullable: true
          example: null
        consecutive_failures:
          type: integer
          description: Consecutive failures. Webhook auto-disables at 5.
          example: 0
        total_deliveries:
          type: integer
          description: Total number of delivery attempts
          example: 42
        created_at:
          type: string
          format: date-time
          example: '2026-03-01T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-03-06T14:23:00Z'

    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 57ba3085-5b0b-4736-b5b5-7b936d09d1ef
        webhook_id:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        event_type:
          type: string
          description: The event that triggered this delivery
          enum:
            - lead.created
            - lead.updated
            - lead.status_changed
            - lead.replied
            - lead.connected
            - campaign.started
            - campaign.completed
            - campaign.paused
            - campaign.error
            - message.sent
            - message.received
            - connection.sent
            - connection.accepted
            - workflow.step_completed
            - workflow.lead_finished
            - account.disconnected
            - account.rate_limited
            - webhook.test
          example: lead.replied
        event_id:
          type: string
          description: Unique event identifier. Same across retries for deduplication.
          example: evt_m3k9x2p7_a1b2c3d4e5f6g7h8
        status:
          type: string
          description: |
            Delivery status:
            - `pending` — Queued, not yet attempted
            - `success` — Endpoint returned 2xx
            - `failed` — Endpoint returned non-2xx or timed out (will retry)
            - `dead_letter` — All 5 retry attempts exhausted
          enum: [pending, success, failed, dead_letter]
          example: success
        response_status:
          type: integer
          nullable: true
          description: HTTP status code returned by your endpoint (null if connection failed or timed out)
          example: 200
        duration_ms:
          type: integer
          nullable: true
          description: Request round-trip time in milliseconds
          example: 234
        error_message:
          type: string
          nullable: true
          description: Error description for failed deliveries
          example: null
        attempt_number:
          type: integer
          description: Which attempt this is (1-5)
          example: 1
          minimum: 1
          maximum: 5
        created_at:
          type: string
          format: date-time
          example: '2026-03-06T14:23:17Z'
        completed_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-06T14:23:17Z'

    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: b2c3d4e5-f6a7-8901-bcde-f12345678901
        name:
          type: string
          description: Descriptive name for this API key
          example: CRM Integration
        key_prefix:
          type: string
          description: First 12 characters of the key for identification
          example: cn_live_f2e6
        scopes:
          type: array
          description: |
            Permissions granted to this key. Use the narrowest scopes possible.
          items:
            type: string
            enum:
              - 'read:leads'
              - 'write:leads'
              - 'read:campaigns'
              - 'write:campaigns'
              - 'read:conversations'
              - 'read:accounts'
              - 'read:analytics'
              - 'write:linkedin_actions'
              - '*'
          example: ["read:leads", "write:leads"]
        is_active:
          type: boolean
          example: true
        last_used_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-06T14:23:00Z'
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Expiration date. Null means never expires.
          example: null
        created_at:
          type: string
          format: date-time
          example: '2026-03-01T10:00:00Z'

    ApiKeyCreated:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          properties:
            key:
              type: string
              description: |
                Full API key — **only shown once at creation**. Store it securely.
                Format: `cn_live_` followed by 32 hex characters.
              example: cn_live_f2e68200deb419c3add1824116c8638e

    LeadGroup:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: d63ee4cf-3107-4291-a498-43e5cc498fac
        name:
          type: string
          example: Enterprise Prospects
        description:
          type: string
          nullable: true
          example: Leads from Q1 enterprise campaign
        lead_count:
          type: integer
          example: 150
        created_at:
          type: string
          format: date-time
          example: '2026-02-01T10:00:00Z'

    Activity:
      type: object
      description: A single workflow action for a lead
      properties:
        action_type:
          type: string
          description: Type of action performed
          enum: [connection_request, send_message, send_inmail, view_profile, reply_received, connection_accepted, find_email, email]
          example: send_message
        status:
          type: string
          enum: [pending, success, failed, skipped]
          example: success
        campaign_id:
          type: string
          format: uuid
          description: Campaign this activity belongs to
        campaign_name:
          type: string
          description: Name of the campaign
          example: Q1 Enterprise Outreach
        started_at:
          type: string
          format: date-time
          example: '2026-03-06T09:12:30Z'
        completed_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-06T09:12:33Z'

    SuccessResponse:
      type: object
      properties:
        data:
          type: object
        message:
          type: string
          example: Success

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              example: Human-readable error message
            code:
              type: string
              description: Machine-readable error code
              enum: [INVALID_API_KEY, INSUFFICIENT_SCOPE, RATE_LIMIT_EXCEEDED, VALIDATION_ERROR, NOT_FOUND, DUPLICATE_LEAD]
              example: VALIDATION_ERROR
            details:
              type: array
              description: Field-level validation errors (only on 400 responses)
              items:
                type: object
                properties:
                  field:
                    type: string
                    example: linkedin_url
                  message:
                    type: string
                    example: Must be a valid LinkedIn profile URL

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          description: Total number of items matching the query
          example: 142
        limit:
          type: integer
          description: Maximum items per page
          example: 50
        offset:
          type: integer
          description: Number of items skipped
          example: 0

  parameters:
    limitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        maximum: 100
        minimum: 1
      description: Maximum number of items to return (1-100)
    offsetParam:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0
      description: Number of items to skip for pagination

paths:
  # ============ LEADS ============
  /public/leads:
    get:
      operationId: listLeads
      summary: List leads
      description: Returns a paginated list of leads in your workspace with optional filters.
      tags: [Leads]
      x-required-scope: read:leads
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [new, contacted, engaged, qualified, converted, unqualified, lost, replied, connected, do_not_contact]
          description: Filter by lead status. Supports comma-separated values for multiple statuses.
          example: replied
        - name: campaign_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by campaign enrollment
        - name: search
          in: query
          schema:
            type: string
          description: Search by name, email, or company (case-insensitive partial match)
          example: Acme
        - name: updated_after
          in: query
          schema:
            type: string
            format: date-time
          description: Only return leads updated after this ISO 8601 timestamp
          example: '2026-03-01T00:00:00Z'
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [newest, oldest]
            default: newest
          description: Sort order for results. `newest` returns most recently created first, `oldest` returns oldest first.
      responses:
        '200':
          description: Lead list with pagination
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      leads:
                        type: array
                        items:
                          $ref: '#/components/schemas/Lead'
                      total:
                        type: integer
                        example: 142
                      limit:
                        type: integer
                        example: 50
                      offset:
                        type: integer
                        example: 0
                  message:
                    type: string
                    example: Success
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope — requires `read:leads`
    post:
      operationId: createLead
      summary: Create lead
      description: |
        Creates a new lead in your workspace and adds it to the specified lead group.
        If a lead with the same `linkedin_url` already exists, the existing lead is added to the specified group and returned with a `200` status. New leads return `201`.
      tags: [Leads]
      x-required-scope: write:leads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  example: Jane
                last_name:
                  type: string
                  example: Smith
                linkedin_url:
                  type: string
                  format: uri
                  description: Must be a valid LinkedIn profile URL
                  pattern: '^https?://(www\.)?linkedin\.com/in/[\w-]+/?$'
                  example: https://www.linkedin.com/in/janesmith
                lead_group_id:
                  type: string
                  format: uuid
                  description: UUID of the lead group to add this lead to. Get group IDs from the Lead Groups endpoints.
                  example: d63ee4cf-3107-4291-a498-43e5cc498fac
                company:
                  type: string
                  example: Acme Corp
                position:
                  type: string
                  description: Job title or position
                  example: VP of Sales
                location:
                  type: string
                  example: San Francisco, CA
                email:
                  type: string
                  format: email
                  example: jane.smith@acme.com
                phone:
                  type: string
                  example: '+1 555-0123'
                status:
                  type: string
                  description: Initial pipeline status for the lead. Defaults to `new` if not provided.
                  enum: [new, contacted, engaged, qualified, converted, unqualified, lost, replied, connected, do_not_contact]
                  default: new
                  example: new
                custom_fields:
                  type: object
                  description: Arbitrary key-value pairs
                  example: { industry: "SaaS" }
              required: [first_name, last_name, linkedin_url, lead_group_id]
      responses:
        '200':
          description: Lead already exists — added to the specified group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Lead'
                  message:
                    type: string
                    example: Lead already exists, added to group
        '201':
          description: Lead created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Lead'
                  message:
                    type: string
                    example: Lead created
        '400':
          description: Validation error (missing required fields, invalid LinkedIn URL format)

  /public/leads/batch:
    post:
      operationId: batchCreateLeads
      summary: Batch create/update leads
      description: |
        Create or update up to 100 leads in a single request and add them to the specified lead group.
        Matching is done by `linkedin_url`. If a lead with the same URL exists, it is updated (when `update_existing` is true) or skipped.
        All leads (new, updated, or skipped) are added to the specified group. Each lead must have a valid `linkedin_url`.
      tags: [Leads]
      x-required-scope: write:leads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                leads:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    properties:
                      first_name:
                        type: string
                        example: Jane
                      last_name:
                        type: string
                        example: Smith
                      linkedin_url:
                        type: string
                        format: uri
                        description: Must be a valid LinkedIn profile URL
                        pattern: '^https?://(www\.)?linkedin\.com/in/[\w-]+/?$'
                        example: https://www.linkedin.com/in/janesmith
                      company:
                        type: string
                        example: Acme Corp
                      position:
                        type: string
                        example: VP of Sales
                      location:
                        type: string
                      email:
                        type: string
                        format: email
                      phone:
                        type: string
                      status:
                        type: string
                        description: Initial status. Defaults to `new`.
                        enum: [new, contacted, engaged, qualified, converted, unqualified, lost, replied, connected, do_not_contact]
                        default: new
                      custom_fields:
                        type: object
                    required: [first_name, last_name, linkedin_url]
                lead_group_id:
                  type: string
                  format: uuid
                  description: Lead group to add all leads to. Required — every lead must belong to a group.
                  example: d63ee4cf-3107-4291-a498-43e5cc498fac
                update_existing:
                  type: boolean
                  default: false
                  description: If true, updates existing leads matched by linkedin_url. If false, skips them.
              required: [leads, lead_group_id]
      responses:
        '200':
          description: Batch result summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      created:
                        type: integer
                        description: Number of new leads created
                        example: 8
                      updated:
                        type: integer
                        description: Number of existing leads updated
                        example: 2
                      skipped:
                        type: integer
                        description: Number of leads skipped due to errors
                        example: 1
                      errors:
                        type: array
                        description: Per-lead error details
                        items:
                          type: object
                          properties:
                            index:
                              type: integer
                              description: Array index of the failed lead
                              example: 5
                            error:
                              type: string
                              example: linkedin_url is required and must be a valid LinkedIn profile URL
                  message:
                    type: string
                    example: Success

  /public/leads/{id}:
    get:
      operationId: getLead
      summary: Get lead details
      description: Returns full lead details including groups and workflow state.
      tags: [Leads]
      x-required-scope: read:leads
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: f7e6d5c4-b3a2-1098-7654-321fedcba098
      responses:
        '200':
          description: Lead details with groups and workflow states
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/Lead'
                      - type: object
                        properties:
                          lead_groups:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                name:
                                  type: string
                            description: Lead groups this lead belongs to
                          workflow_states:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                campaign_id:
                                  type: string
                                  format: uuid
                                status:
                                  type: string
                                current_node_id:
                                  type: string
                                next_execution_at:
                                  type: string
                                  format: date-time
                                  nullable: true
                                created_at:
                                  type: string
                                  format: date-time
                                updated_at:
                                  type: string
                                  format: date-time
                            description: Campaign workflow states for this lead (most recent 5)
                  message:
                    type: string
                    example: Success
        '404':
          description: Lead not found
    put:
      operationId: updateLead
      summary: Update lead
      description: |
        Partially update a lead's fields. Only include the fields you want to change.
        To change status, use the dedicated `PATCH /leads/{id}/status` endpoint instead.
      tags: [Leads]
      x-required-scope: write:leads
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  example: Jane
                last_name:
                  type: string
                  example: Smith-Johnson
                company:
                  type: string
                  example: Acme Corp
                position:
                  type: string
                  example: CTO
                location:
                  type: string
                  example: New York, NY
                email:
                  type: string
                  format: email
                  example: jane@acme.com
                phone:
                  type: string
                custom_fields:
                  type: object
                  example: { industry: "SaaS", notes: "Met at conference" }
                status:
                  type: string
                  enum: [new, contacted, engaged, qualified, converted, unqualified, lost, replied, connected, do_not_contact]
      responses:
        '200':
          description: Lead updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Lead'
                  message:
                    type: string
                    example: Lead updated
        '404':
          description: Lead not found
    delete:
      operationId: deleteLead
      summary: Delete lead
      description: Permanently deletes a lead and all associated data. This cannot be undone.
      tags: [Leads]
      x-required-scope: write:leads
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Lead deleted
        '404':
          description: Lead not found

  /public/leads/{id}/status:
    patch:
      operationId: changeLeadStatus
      summary: Change lead status
      description: Updates the lead's pipeline status and returns the old and new values. Also triggers a `lead.status_changed` webhook event.
      tags: [Leads]
      x-required-scope: write:leads
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: New status to set
                  enum: [new, contacted, engaged, qualified, converted, unqualified, lost, replied, connected, do_not_contact]
                  example: qualified
              required: [status]
      responses:
        '200':
          description: Status changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      old_status:
                        type: string
                        example: new
                      new_status:
                        type: string
                        example: qualified
                      lead:
                        $ref: '#/components/schemas/Lead'
                  message:
                    type: string
                    example: Success

  /public/leads/{id}/activity:
    get:
      operationId: getLeadActivity
      summary: Get lead activity history
      description: |
        Returns workflow actions and events for this lead across all campaigns.
        Includes connection requests, messages sent, replies received, and other workflow steps.
      tags: [Leads]
      x-required-scope: read:leads
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: Activity list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      activities:
                        type: array
                        items:
                          $ref: '#/components/schemas/Activity'
                      total:
                        type: integer
                        example: 5
                      limit:
                        type: integer
                        example: 50
                      offset:
                        type: integer
                        example: 0
                  message:
                    type: string
                    example: Success

  # ============ CAMPAIGNS ============
  /public/campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      description: Returns a paginated list of campaigns with performance stats.
      tags: [Campaigns]
      x-required-scope: read:campaigns
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, paused, completed, archived]
          description: Filter by campaign status
          example: active
      responses:
        '200':
          description: Campaign list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      campaigns:
                        type: array
                        items:
                          $ref: '#/components/schemas/Campaign'
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                  message:
                    type: string
                    example: Success

  /public/campaigns/{id}:
    get:
      operationId: getCampaign
      summary: Get campaign details with stats
      description: Returns campaign info including performance statistics.
      tags: [Campaigns]
      x-required-scope: read:campaigns
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CampaignDetail'
                  message:
                    type: string
                    example: Success
        '404':
          description: Campaign not found

  /public/campaigns/{id}/start:
    post:
      operationId: startCampaign
      summary: Start campaign
      description: |
        Starts a draft campaign. Uses the lead groups already associated with the campaign.
        Returns 400 if no lead groups, no valid workflow, or no active LinkedIn account is linked.
        Triggers a `campaign.started` webhook event.
      tags: [Campaigns]
      x-required-scope: write:campaigns
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign started
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      campaign_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        example: active
                      enrolled_leads:
                        type: integer
                      total_leads:
                        type: integer
                  message:
                    type: string
                    example: Campaign started
        '400':
          description: Campaign cannot be started (no lead groups, no workflow, already active/completed)

  /public/campaigns/{id}/pause:
    post:
      operationId: pauseCampaign
      summary: Pause campaign
      description: |
        Pauses an active campaign. All pending workflow steps are suspended.
        Triggers a `campaign.paused` webhook event.
      tags: [Campaigns]
      x-required-scope: write:campaigns
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign paused
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      campaign_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        example: paused
                  message:
                    type: string
                    example: Campaign paused

  /public/campaigns/{id}/resume:
    post:
      operationId: resumeCampaign
      summary: Resume campaign
      description: |
        Resumes a paused campaign. Workflow steps continue from where they left off.
        Requires at least one active LinkedIn account linked to the campaign.
      tags: [Campaigns]
      x-required-scope: write:campaigns
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign resumed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      campaign_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        example: active
                  message:
                    type: string
                    example: Campaign resumed

  # ============ LINKEDIN ACTIONS ============
  /public/linkedin/send-connection:
    post:
      operationId: sendConnection
      summary: Send LinkedIn connection request
      description: |
        Queues a connection request to be sent via the specified LinkedIn account.
        Returns immediately with a job ID. Use the job status endpoint to check progress.
        The lead must not already be connected.
      tags: [LinkedIn Actions]
      x-required-scope: write:linkedin_actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_id:
                  type: string
                  format: uuid
                  example: f7e6d5c4-b3a2-1098-7654-321fedcba098
                linkedin_account_id:
                  type: string
                  format: uuid
                  description: LinkedIn account to send from
                  example: d5e6f7a8-b9c0-1234-5678-9abcdef01234
                note:
                  type: string
                  maxLength: 300
                  description: Optional connection note (max 300 chars). LinkedIn may reject requests with notes if you're not premium.
                  example: "Hi Jane, I noticed your work at Acme — would love to connect!"
              required: [lead_id, linkedin_account_id]
      responses:
        '202':
          description: Connection request queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AsyncJob'

  /public/linkedin/send-message:
    post:
      operationId: sendMessage
      summary: Send LinkedIn message
      description: |
        Queues a direct message to a connected lead. The lead must be a 1st-degree connection.
        Returns a job ID for status tracking.
      tags: [LinkedIn Actions]
      x-required-scope: write:linkedin_actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_id:
                  type: string
                  format: uuid
                  example: f7e6d5c4-b3a2-1098-7654-321fedcba098
                linkedin_account_id:
                  type: string
                  format: uuid
                  example: d5e6f7a8-b9c0-1234-5678-9abcdef01234
                message:
                  type: string
                  minLength: 1
                  maxLength: 8000
                  description: Message text to send
                  example: "Hi Jane, thanks for connecting! I wanted to share..."
              required: [lead_id, linkedin_account_id, message]
      responses:
        '202':
          description: Message queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AsyncJob'

  /public/linkedin/send-inmail:
    post:
      operationId: sendInMail
      summary: Send LinkedIn InMail
      description: |
        Queues an InMail message to a lead. Requires a Sales Navigator subscription on the sending account.
        InMails can be sent to leads who are not 1st-degree connections.
      tags: [LinkedIn Actions]
      x-required-scope: write:linkedin_actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_id:
                  type: string
                  format: uuid
                  example: f7e6d5c4-b3a2-1098-7654-321fedcba098
                linkedin_account_id:
                  type: string
                  format: uuid
                  example: d5e6f7a8-b9c0-1234-5678-9abcdef01234
                subject:
                  type: string
                  maxLength: 200
                  description: InMail subject line
                  example: Quick question about your team's outreach strategy
                message:
                  type: string
                  minLength: 1
                  maxLength: 8000
                  example: "Hi Jane, I came across your profile..."
              required: [lead_id, linkedin_account_id, subject, message]
      responses:
        '202':
          description: InMail queued

  /public/linkedin/view-profile:
    post:
      operationId: viewProfile
      summary: View LinkedIn profile
      description: |
        Queues a profile view action. Useful for warming up leads before sending a connection request.
        The lead will see your profile in their "Who viewed your profile" section.
      tags: [LinkedIn Actions]
      x-required-scope: write:linkedin_actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_id:
                  type: string
                  format: uuid
                  example: f7e6d5c4-b3a2-1098-7654-321fedcba098
                linkedin_account_id:
                  type: string
                  format: uuid
                  example: d5e6f7a8-b9c0-1234-5678-9abcdef01234
              required: [lead_id, linkedin_account_id]
      responses:
        '202':
          description: Profile view queued

  /public/linkedin/job/{job_id}:
    get:
      operationId: getJobStatus
      summary: Check async job status
      description: |
        Returns the current status of an async LinkedIn action job.
        Poll this endpoint to check if your action has completed.
      tags: [LinkedIn Actions]
      x-required-scope: read:leads
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          description: Job ID returned from the action endpoint
          example: 'linkedin-action:f7e6d5c4-b3a2-1098'
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AsyncJob'
        '404':
          description: Job not found or expired

  # ============ CONVERSATIONS ============
  /public/conversations:
    get:
      operationId: listConversations
      summary: List conversations
      description: Returns LinkedIn conversations for your workspace with optional filters.
      tags: [Conversations]
      x-required-scope: read:conversations
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - name: linkedin_account_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by LinkedIn account
        - name: has_unread
          in: query
          schema:
            type: boolean
          description: Filter for conversations with unread messages
          example: true
        - name: lead_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter conversations for a specific lead
      responses:
        '200':
          description: Conversation list

  /public/conversations/{id}:
    get:
      operationId: getConversation
      summary: Get conversation with messages
      description: Returns a conversation thread including paginated messages.
      tags: [Conversations]
      x-required-scope: read:conversations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: message_limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Number of messages to return
        - name: message_offset
          in: query
          schema:
            type: integer
            default: 0
          description: Message pagination offset
      responses:
        '200':
          description: Conversation with messages
        '404':
          description: Conversation not found

  # ============ LEAD GROUPS ============
  /public/lead-groups:
    get:
      operationId: listLeadGroups
      summary: List lead groups
      description: Returns all lead groups in your workspace.
      tags: [Lead Groups]
      x-required-scope: read:leads
      responses:
        '200':
          description: Lead group list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadGroup'
                  message:
                    type: string
                    example: Success
    post:
      operationId: createLeadGroup
      summary: Create lead group
      description: Creates a new lead group for organizing leads.
      tags: [Lead Groups]
      x-required-scope: write:leads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Group name (must be unique within workspace)
                  example: Enterprise Prospects
                description:
                  type: string
                  example: Leads from Q1 enterprise campaign
              required: [name]
      responses:
        '201':
          description: Lead group created

  /public/lead-groups/{id}/leads:
    post:
      operationId: addLeadsToGroup
      summary: Add leads to group
      description: Add one or more existing leads to a lead group. Already-present leads are silently skipped.
      tags: [Lead Groups]
      x-required-scope: write:leads
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  example: ["f7e6d5c4-b3a2-1098-7654-321fedcba098"]
              required: [lead_ids]
      responses:
        '200':
          description: Leads added to group
    delete:
      operationId: removeLeadsFromGroup
      summary: Remove leads from group
      description: Remove leads from a group. The leads themselves are not deleted.
      tags: [Lead Groups]
      x-required-scope: write:leads
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  example: ["f7e6d5c4-b3a2-1098-7654-321fedcba098"]
              required: [lead_ids]
      responses:
        '200':
          description: Leads removed from group

  # ============ LINKEDIN ACCOUNTS ============
  /public/linkedin-accounts:
    get:
      operationId: listLinkedInAccounts
      summary: List LinkedIn accounts
      description: |
        Returns connected LinkedIn accounts with health metrics and daily usage.
        Sensitive data like cookies and credentials are never exposed.
      tags: [LinkedIn Accounts]
      x-required-scope: read:accounts
      responses:
        '200':
          description: Account list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LinkedInAccount'
                  message:
                    type: string
                    example: Success

  /public/linkedin-accounts/{id}:
    get:
      operationId: getLinkedInAccount
      summary: Get LinkedIn account details
      description: Returns detailed info for a single LinkedIn account.
      tags: [LinkedIn Accounts]
      x-required-scope: read:accounts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LinkedInAccount'
        '404':
          description: Account not found

  # ============ ANALYTICS ============
  /public/analytics/overview:
    get:
      operationId: getAnalyticsOverview
      summary: Workspace analytics overview
      description: Returns aggregated analytics for the workspace over a time period.
      tags: [Analytics]
      x-required-scope: read:analytics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: ['7d', '30d', '90d']
            default: '30d'
          description: |
            Time period for analytics:
            - `7d` — Last 7 days
            - `30d` — Last 30 days
            - `90d` — Last 90 days
      responses:
        '200':
          description: Analytics overview

  /public/analytics/campaigns/{id}:
    get:
      operationId: getCampaignAnalytics
      summary: Campaign analytics
      description: Returns detailed performance analytics for a specific campaign.
      tags: [Analytics]
      x-required-scope: read:analytics
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign analytics

  # ============ WEBHOOK EVENTS ============
  /public/webhook-events:
    get:
      operationId: listWebhookEventTypes
      summary: List available webhook event types
      description: |
        Returns all webhook event types grouped by category.
        Use these event type strings when creating or updating webhooks.
      tags: [Webhook Events]
      responses:
        '200':
          description: Event types grouped by category

  # ============ WEBHOOK MANAGEMENT ============
  # NOTE: These endpoints use JWT authentication (dashboard session), NOT API key auth.
  # They are used by the Cold Navigator dashboard, not by external integrations.
  /webhooks:
    get:
      operationId: listWebhooks
      summary: List webhooks
      description: |
        List all webhooks for your workspace.
        **Authentication:** Requires dashboard session (JWT), not API key.
      tags: [Webhook Management]
      security: []
      responses:
        '200':
          description: Webhook list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
    post:
      operationId: createWebhook
      summary: Create webhook
      description: |
        Creates a new webhook. A secret key is auto-generated for signature verification.
        The secret key is included in the response — **store it securely, it is only shown once**.
        **Authentication:** Requires dashboard session (JWT), not API key.
      tags: [Webhook Management]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                  example: CRM Sync
                url:
                  type: string
                  format: uri
                  maxLength: 2000
                  description: HTTPS endpoint URL that will receive webhook deliveries
                  example: https://your-app.com/webhooks/cold-navigator
                event_types:
                  type: array
                  minItems: 1
                  description: Event types to subscribe to
                  items:
                    type: string
                    enum:
                      - lead.created
                      - lead.updated
                      - lead.status_changed
                      - lead.replied
                      - lead.connected
                      - campaign.started
                      - campaign.completed
                      - campaign.paused
                      - campaign.error
                      - message.sent
                      - message.received
                      - connection.sent
                      - connection.accepted
                      - workflow.step_completed
                      - workflow.lead_finished
                      - account.disconnected
                      - account.rate_limited
                  example: ["lead.replied", "lead.connected"]
                secret_key:
                  type: string
                  maxLength: 255
                  description: Optional custom secret key. If not provided, one is auto-generated (recommended).
                description:
                  type: string
                  maxLength: 500
                  example: Sends lead replies to our CRM
                headers:
                  type: object
                  description: Custom HTTP headers to include with every delivery
                  example: { "X-Source": "cold-navigator" }
              required: [name, url, event_types]
      responses:
        '201':
          description: Webhook created (response includes secret_key)

  /webhooks/{id}:
    get:
      operationId: getWebhook
      summary: Get webhook with recent deliveries
      tags: [Webhook Management]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook details with recent deliveries
    put:
      operationId: updateWebhook
      summary: Update webhook
      description: Update webhook configuration. Only include fields you want to change.
      tags: [Webhook Management]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                url:
                  type: string
                  format: uri
                event_types:
                  type: array
                  items:
                    type: string
                    enum:
                      - lead.created
                      - lead.updated
                      - lead.status_changed
                      - lead.replied
                      - lead.connected
                      - campaign.started
                      - campaign.completed
                      - campaign.paused
                      - campaign.error
                      - message.sent
                      - message.received
                      - connection.sent
                      - connection.accepted
                      - workflow.step_completed
                      - workflow.lead_finished
                      - account.disconnected
                      - account.rate_limited
                is_active:
                  type: boolean
                  description: Set to false to disable, true to re-enable
                description:
                  type: string
                headers:
                  type: object
      responses:
        '200':
          description: Webhook updated
    delete:
      operationId: deleteWebhook
      summary: Delete webhook
      description: Permanently deletes the webhook and all delivery history.
      tags: [Webhook Management]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Webhook deleted

  /webhooks/{id}/rotate-secret:
    patch:
      operationId: rotateWebhookSecret
      summary: Rotate webhook secret key
      description: |
        Generates a new secret key. The old key is immediately invalidated.
        Update your server with the new secret right away.
      tags: [Webhook Management]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: New secret key returned

  /webhooks/{id}/test:
    post:
      operationId: testWebhook
      summary: Send test event
      description: |
        Sends a `webhook.test` event to the webhook URL synchronously and returns the delivery result.
        Useful for verifying your endpoint is reachable and correctly configured.
      tags: [Webhook Management]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  default: webhook.test
                  description: Always sends a test event regardless of this value
      responses:
        '200':
          description: Test delivery result

  /webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      summary: List webhook deliveries
      description: Returns recent delivery attempts for a webhook with filtering options.
      tags: [Webhook Management]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, success, failed, dead_letter]
          description: Filter by delivery status
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Delivery list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'

  /webhooks/{id}/retry:
    post:
      operationId: retryWebhookDeliveries
      summary: Retry failed deliveries
      description: Re-queues failed deliveries for another attempt.
      tags: [Webhook Management]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                delivery_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Specific delivery IDs to retry. If empty, retries all recent failed deliveries.
      responses:
        '200':
          description: Retry result

  # ============ API KEYS ============
  # NOTE: These endpoints use JWT authentication (dashboard session), NOT API key auth.
  /api-keys:
    get:
      operationId: listApiKeys
      summary: List API keys
      description: |
        Returns all API keys for your workspace. The full key hash is never returned — only the prefix for identification.
        **Authentication:** Requires dashboard session (JWT), not API key.
      tags: [API Keys]
      security: []
      responses:
        '200':
          description: API key list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
    post:
      operationId: createApiKey
      summary: Create API key
      description: |
        Creates a new API key. The full key is returned **only in this response** — store it securely.
        It cannot be retrieved again.
        **Authentication:** Requires dashboard session (JWT), not API key.
      tags: [API Keys]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                  description: Descriptive name for this key
                  example: CRM Integration
                scopes:
                  type: array
                  minItems: 1
                  description: |
                    Permissions to grant. Use the narrowest scopes possible.
                  items:
                    type: string
                    enum:
                      - 'read:leads'
                      - 'write:leads'
                      - 'read:campaigns'
                      - 'write:campaigns'
                      - 'read:conversations'
                      - 'read:accounts'
                      - 'read:analytics'
                      - 'write:linkedin_actions'
                      - '*'
                  example: ["read:leads", "write:leads"]
                expires_at:
                  type: string
                  format: date-time
                  description: Optional expiration date. Null or omitted means never expires.
                  example: '2027-01-01T00:00:00Z'
              required: [name, scopes]
      responses:
        '201':
          description: API key created (includes full key — save it now!)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApiKeyCreated'

  /api-keys/{id}:
    put:
      operationId: updateApiKey
      summary: Update API key
      description: Update the name, scopes, or active status of an API key.
      tags: [API Keys]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Updated Key Name
                scopes:
                  type: array
                  items:
                    type: string
                    enum:
                      - 'read:leads'
                      - 'write:leads'
                      - 'read:campaigns'
                      - 'write:campaigns'
                      - 'read:conversations'
                      - 'read:accounts'
                      - 'read:analytics'
                      - 'write:linkedin_actions'
                      - '*'
                is_active:
                  type: boolean
                  description: Set to false to revoke, true to re-enable
      responses:
        '200':
          description: API key updated
    delete:
      operationId: revokeApiKey
      summary: Revoke API key
      description: Permanently deactivates the API key. This action cannot be undone. Any requests using this key will receive 401.
      tags: [API Keys]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: API key revoked
